.btn {
    padding: 10px;
    border: none;
    background: none;
    transition: all .3s linear;
    font-size: 1rem;
    font-weight: 700;
}
.red {
    color: rgb(250, 90, 90);
}
.red:hover {
    color : rgb(255, 43, 43);
    cursor: pointer;
}
.blue {
    color: rgb(48, 48, 122);
}
.blue:hover {
    cursor: pointer;
    color: rgb(0, 0, 168);
}